<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-1">
      <label class=" data-picker control-label col-md-5" for="type">
        <span>Year</span>
      </label>
      <select class="form-control" id="type" name="type" [(ngModel)]="year" ng-change="onChange()">

        <option *ngFor="let yearIndex of yearList">{{yearIndex}}</option>

      </select>
      <label class="data-picker control-label col-md-5" for="type">
        <span>Month</span>
      </label>
      <select class="form-control" id="type" name="type" [(ngModel)]="month" ng-change="onChange()">

        <option *ngFor="let monthIndex of monthList">{{monthIndex}}</option>

      </select>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div [hidden]="!chart" class="col-lg-5">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
    <div class="second-tier">
      <div [hidden]="!chart" class="col-lg-5">
        <canvas id="canvas-half-circle">{{ chart }}</canvas>
      </div>
      <div class="col-lg-1"></div>
      <div [hidden]="!chart" class="col-lg-5">
        <canvas id="canvas-donught">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>