<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Incomes\Outcomes</h1>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let inOutComes of inOutComesList">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-primary">
          <div class="panel-heading bill-panel">
            <div class="row">
              <div class="col-xs-6 text-left">
                <div>Date : {{inOutComes.date}}</div>
              </div>
              <div class="col-xs-6 text-right">

                <div>Amount : {{inOutComes.amount}}</div>

              </div>
            </div>
            <div class="list-footer row">
              <div class="col-xs-6 text-left">
                <div>Tag : {{inOutComes.tags}}</div>
              </div>
              <div class="col-xs-6 text-right">

                <div>Currency : {{inOutComes.currency}}</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
