<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-5">
        <div class="form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Sign up now</h3>
              <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
              <img src="https://png.icons8.com/metro/1600/banknotes.png" />
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="registration-form">
              <div class="form-group">
                <label class="sr-only" for="form-first-name">Name</label>
                <input type="text" [(ngModel)]="user.name" name="form-first-name" placeholder="Name..." class="form-first-name form-control"
                  id="form-first-name" #username="ngModel" #username="ngModel" (keyup)="onChange()" required>
                <div class="alert alert-danger form-error" role="alert" *ngIf="username.invalid && (username.dirty || username.touched)">
                  Please input name
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-email">Email</label>
                <input type="text" [(ngModel)]="user.email" name="form-email" placeholder="Email..." class="form-control" id="form-email"
                  #email="ngModel" (keyup)="onChange()" required>
                <div class="alert alert-danger form-error" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                  Please input email
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" [(ngModel)]="user.password" name="form-password" placeholder="Password..." class="form-password form-control"
                  id="form-password" #password="ngModel" (keyup)="onPasswordChange()" required>
                <div class="alert alert-danger form-error" role="alert" *ngIf="password.invalid && (password.dirty || password.touched)">
                  Please input password
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-confirm-password">Confirm Password</label>
                <input type="password" [(ngModel)]="confirmPassword" name="form-confirm-password" placeholder="Confirm Password..." class="form-password form-control"
                  id="form-confirm-password" #confirmpassword="ngModel" (keyup)="onPasswordChange()" required>
                <div class="alert alert-danger form-error" role="alert" *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                  Please input password
                </div>
                <div class="alert alert-danger form-error" role="alert" *ngIf="differentPasswords">
                  Confirm Password must be the same with password
                </div>
              </div>
              <div class="alert alert-danger form-error" role="alert" *ngIf="registrationError">
                  User with the same Name or Email is present
              </div>
              <button type="submit" class="btn" (click)="onSignUp()">Sign up</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</div>