<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Create Income/Outcome</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form method="post" role="form" class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Type
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="type" name="type" [(ngModel)]="optionInOutCome">

                    <option>Income</option>
                    <option>Outcome</option>

                  </select>

                </div>

              </div>


              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="balance">Amount
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" [(ngModel)]="model.amount" value="" id="balance" name="balance" class=" form-control form-control col-md-7 col-xs-12">

                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Currency
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="type" name="type" [(ngModel)]="model.currency">
                    <option>EU</option>
                    <option>USD</option>
                    <option>UAH</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Label</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="type" name="type" [(ngModel)]="model.tags">
                    <option *ngFor="let tag of userTags">{{tag}}</option>
                  </select>
                </div>
              </div>

              <div class="ln_solid"></div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="hidden" name="_token" value="">
                  <button type="submit" class="btn btn-success" (click)="onCreateWallet()">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>